// This is an example for the databasesecret.ts file

export const config =
  '';
export const smtpConfig = {
  port: 587,
  host: '',
  secure: false,
  pool: true,
  auth: {
    user: '',
    pass:
      '',
  },
};
