$theme-violet: #7e71b7;
$theme-purple: #b397c7;
$theme-denim: #9ab0d7;
$theme-lavender: #e4def9;
$theme-pink: #e9b7d4;

$glass: radial-gradient(
  109.5% 315.21% at 109.5% 110.9%,
  #ffffff 0%,
  rgba(255, 255, 255, 0) 100%
);
