.team-card-container {
  display: flex;
  // flex-direction: row;
  width: 100%;
  margin: 2em 0 0 0;
}

.button-submit-group {
  background: #ae8ae0;
  border-radius: 8.51064px;
  border: none;
  padding: 0.5em 1em;

  font-family: Poppins;
  color: #ffffff;
  margin: 0 0 0 2em;
}
